<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Opinionated Resume Maker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b4c8499bbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="resume-html" class="container-fluid">
    <h1 id="name" class="text-primary text-center" th:text="${resume.name}">John Doe</h1>
    <h1 id="role" class="text-primary text-center" th:text="${resume.role}">Java Developer</h1>

    <div id="contacts" class="mt-3 mb-5">
        <ul class="nav justify-content-center">
            <li class="nav-item mx-3">
                <i class="fa-solid fa-location-dot me-2"></i>
                <a id="address" class="" target="_blank" th:href="@{https://maps.google.com/?q=__${resume.address}__}" th:text="${resume.address}">My place, My country</a>
            </li>
            <li class="nav-item mx-3">
                <i class="fa-solid fa-envelope me-2"></i>
                <a id="email" class="" th:href="@{mailto: __${resume.email}__}" th:text="${resume.email}">mailbox@mailservice.com</a>
            </li>
            <li class="nav-item mx-3">
                <i class="fa-solid fa-phone me-2"></i>
                <a id="phone" class="" th:href="@{tel: __${resume.phone}__}" th:text="${resume.phone}">+7(495)123-45-67</a>
            </li>
            <li class="nav-item mx-3">
                <i class="fa-brands fa-linkedin me-2"></i>
                <a id="linkedIn" class="" target="_blank" th:href="@{${resume.linkedIn}}"th:text="${resume.linkedIn}">linkedIn</a>
            </li>
            <li class="nav-item mx-3">
                <i class="fa-brands fa-github me-2"></i>
                <a id="github" class="" target="_blank" th:href="@{${resume.github}}" th:text="${resume.github}">GitHub</a>
            </li>
        </ul>
    </div>

    <div class="row">

        <!- left column -->
        <div class="col-sm-3 border-end  border-2 bg-light">
            <div id="languages" class="mb-5 ms-2">
                <h4>Languages:</h4>
                <ul th:each="language : ${resume.languages}">
                    <li th:text="${language}">English, C1</li>
                </ul>
            </div>

            <div id="skills" class="mb-5 ms-2">
                <h4>Skills:</h4>
                <ul th:each="skill : ${resume.skills}">
                    <li th:text="${skill}">Java</li>
                </ul>
            </div>
        </div>

        <!- right column -->
        <div class="col-sm-9">
            <div id="experience" class="mb-5 ms-2">
                <h4 class="border-bottom">Working experience:</h4>
                <ul th:each="we : ${resume.experience}">
                    <li>
                        <h5>
                            <span th:text="${we.position}">Junior Java developer</span> |
                            <span class="text-muted" th:text="${we.company}">CompanyThatHiresJuniors</span>
                        </h5>
                        <p th:text="|${we.start} - ${we.end == null ? 'now' : we.end}|">2021 - 2022</p>
                        <p class="text-muted" th:text="${#strings.listJoin(we.skills, ', ')}">Java Core, Spring Boot</p>
                    </li>
                </ul>
            </div>

            <div id="projects" class="mb-5 ms-2">
                <h4 class="border-bottom">Projects:</h4>
                <ul th:each="project : ${resume.projects}">
                    <li>
                        <h5 th:text="${project.name}">Opinionated Resume Maker</h5>
                        <p th:text="${project.description}">Web app for making a resume, mostly for (junior) developers.</p>
                        <p class="text-muted" th:text="${#strings.listJoin(project.skills, ', ')}">Java Core, Spring Boot</p>
                    </li>
                </ul>
            </div>

            <div id="education" class="mb-5 ms-2">
                <h4 class="border-bottom">Education:</h4>
                <ul th:each="ed : ${resume.education}">
                    <li>
                        <h5>
                            <span th:text="${ed.major}">Computer Science</span> |
                            <span class="text-muted" th:text="${ed.institution}">University of City</span>
                        </h5>
                        <h6 th:text="${ed.year}">2020</h6>
                    </li>
                </ul>
            </div>

            <div id="courses" class="mb-5 ms-2">
                <h4 class="border-bottom">Courses:</h4>
                <ul th:each="course : ${resume.courses}">
                    <li>
                        <h5>
                            <span th:text="${course.name}">Java Developer, Java Backend Developer</span> |
                            <span class="text-muted" th:text="${course.company}">Online Academy</span>
                        </h5>

                        <h6 th:text="${course.year}">2020</h6>
                    </li>
                </ul>
            </div>
        </div>
        <div id="summary">
            <h4 class="border-bottom">Summary:</h4>
            <p th:text="${resume.summary}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>
</body>
</html>